#features
{
    padding: 15rem 15%; /* top/bottom left/right */
    text-align: center;
    background-color: white;
    /* position: relative;
    z-index: 1; */
}
#pricing
{
    padding: 7% 10%; /* top/bottom left/right */
    text-align: center;
}
#press
{
    padding-bottom: 3%;
    text-align: center;
    background-color: #292b2c;
    color: aliceblue;
}
#title
{
    padding-bottom: 5rem;
    text-align: center;
    background-color: #292b2c;
}
#testimonials
{
    text-align: center;
    background-color: #292b2c;
    color: aliceblue;
}
body
{
    font-family: 'Montserrat';
}
h1
{
    font-family: 'Montserrat-black', sans-serif;
}
h2
{
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}
h3
{
    font-family: 'Montserrat-black', sans-serif;
}
p
{
    color: #292b2c;
}
.pricing-card
{
    padding: 2%;
}
.carousel-item
{
    padding: 7% 15%;
}
.feature-box
{
    padding: 2%;
}
.feature-icon
{
    color: #758184;
    margin-bottom: 1rem;
}
.feature-icon:hover
{
    color: #292b2c;
}
.navbar-brand
{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item
{
    padding: 0 1rem;
}
.phone-img
{
    margin-top: 2rem;
    width: 40%;
    transform: rotate(25deg);
    /* position: absolute;
    right: 32%;
    top:28% */
}
.press-logo
{
    width:15%;
    margin: 20px 20px 50px;
}
.row
{
    margin-right: 0;
}
.top-container
{
    padding-top: 4.5rem;
}
.testimonial-image
{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}